<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OrderingGraph</title>
    <link
      href="./components/ordering_graph/ordering_graph.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="sigma-container" style="height: 100%"></div>
    <div id="search">
      <select id="graph-filter-options">
        <option value="train" selected="selected">Train</option>
        <option value="route">Route</option>
      </select>
      <input type="search" id="search-input" list="suggestions" />
      <datalist id="suggestions"></datalist>
      <input type="number" id="neighberhood-level" min="0" value="0" />
    </div>
  </body>
</html>
